In [1]:
import pandas as pd
import numpy as np

In [2]:
car=pd.read_csv('quikr_car.csv')

In [3]:
car.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [4]:
car.shape

(892, 6)

In [5]:
car['Price']

0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
887         3,10,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 892, dtype: object

In [6]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [7]:
##Quality of data
#-year has many non year values
#-year object to integer
#-many non price elements are there(ask for price)
#-price object to int
#-kms_driven -->obj to int 
#-fuel_type has nan values
#-keep first 3 words of name

In [8]:
car['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

In [9]:
car['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '3,71,500', '4,35,000', '1,89,700', '3,89,700',
       '3,60,000', '2,95,000', '1,14,990', '10,65,000', '4,70,000',
       '48,000', '1,88,000', '4,65,000', '1,79,999', '21,90,000',
       '23,90,000', '10,75,000', '4,75,000', '10,25,000', '6,15,000',
       '19,00,000', '14,90,000', '15,10,000', '18,50,000', '7,90,000',
       '17,25,000', '12,25,000', '68,000', '9,70,000', '31,00,000',
       '8,99,000', '88,000', '53,000', '5,68,500', '71,000', '5,90,000',
       '7,95,000', '42,000', '1,89,000', '1,62,000', '35,999',
       '29,00,000', '39,999', '50,500', '5,10,000', '8,60,000',
       '5,00,001'], dtype=object)

In [10]:
car['kms_driven'].unique()

array(['45,000 kms', '40 kms', '22,000 kms', '28,000 kms', '36,000 kms',
       '59,000 kms', '41,000 kms', '25,000 kms', '24,530 kms',
       '60,000 kms', '30,000 kms', '32,000 kms', '48,660 kms',
       '4,000 kms', '16,934 kms', '43,000 kms', '35,550 kms',
       '39,522 kms', '39,000 kms', '55,000 kms', '72,000 kms',
       '15,975 kms', '70,000 kms', '23,452 kms', '35,522 kms',
       '48,508 kms', '15,487 kms', '82,000 kms', '20,000 kms',
       '68,000 kms', '38,000 kms', '27,000 kms', '33,000 kms',
       '46,000 kms', '16,000 kms', '47,000 kms', '35,000 kms',
       '30,874 kms', '15,000 kms', '29,685 kms', '1,30,000 kms',
       '19,000 kms', nan, '54,000 kms', '13,000 kms', '38,200 kms',
       '50,000 kms', '13,500 kms', '3,600 kms', '45,863 kms',
       '60,500 kms', '12,500 kms', '18,000 kms', '13,349 kms',
       '29,000 kms', '44,000 kms', '42,000 kms', '14,000 kms',
       '49,000 kms', '36,200 kms', '51,000 kms', '1,04,000 kms',
       '33,333 kms', '33,600 kms', '5,600 kms', '7,500 kms', '26,000 kms',
       '24,330 kms', '65,480 kms', '28,028 kms', '2,00,000 kms',
       '99,000 kms', '2,800 kms', '21,000 kms', '11,000 kms',
       '66,000 kms', '3,000 kms', '7,000 kms', '38,500 kms', '37,200 kms',
       '43,200 kms', '24,800 kms', '45,872 kms', '40,000 kms',
       '11,400 kms', '97,200 kms', '52,000 kms', '31,000 kms',
       '1,75,430 kms', '37,000 kms', '65,000 kms', '3,350 kms',
       '75,000 kms', '62,000 kms', '73,000 kms', '2,200 kms',
       '54,870 kms', '34,580 kms', '97,000 kms', '60 kms', '80,200 kms',
       '3,200 kms', '0,000 kms', '5,000 kms', '588 kms', '71,200 kms',
       '1,75,400 kms', '9,300 kms', '56,758 kms', '10,000 kms',
       '56,450 kms', '56,000 kms', '32,700 kms', '9,000 kms', '73 kms',
       '1,60,000 kms', '84,000 kms', '58,559 kms', '57,000 kms',
       '1,70,000 kms', '80,000 kms', '6,821 kms', '23,000 kms',
       '34,000 kms', '1,800 kms', '4,00,000 kms', '48,000 kms',
       '90,000 kms', '12,000 kms', '69,900 kms', '1,66,000 kms',
       '122 kms', '0 kms', '24,000 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '1,80,000 kms', '53,000 kms', '35,500 kms',
       '22,134 kms', '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms',
       '15,574 kms', '8,000 kms', '55,800 kms', '56,400 kms',
       '72,160 kms', '11,500 kms', '1,33,000 kms', '2,000 kms',
       '88,000 kms', '65,422 kms', '1,17,000 kms', '1,50,000 kms',
       '10,750 kms', '6,800 kms', '5 kms', '9,800 kms', '57,923 kms',
       '30,201 kms', '6,200 kms', '37,518 kms', '24,652 kms', '383 kms',
       '95,000 kms', '3,528 kms', '52,500 kms', '47,900 kms',
       '52,800 kms', '1,95,000 kms', '48,008 kms', '48,247 kms',
       '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms', '49,500 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '38,900 kms',
       '1,37,495 kms', '91,200 kms', '1,46,000 kms', '1,00,800 kms',
       '2,100 kms', '2,500 kms', '1,32,000 kms', 'Petrol'], dtype=object)

In [11]:
car['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [12]:
#Cleaning

In [13]:
backup=car.copy()  #for backup purposes

In [14]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
887    zest
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 892, dtype: object

In [15]:
car=car[car['year'].str.isnumeric()] #non numeric ones will be removed

In [16]:
car['year']=car['year'].astype(int)  #bool to int

In [17]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

In [18]:
car['year']

0      2007
1      2006
2      2018
3      2014
4      2014
       ...
886    2009
888    2018
889    2013
890    2014
891    2014
Name: year, Length: 842, dtype: int32

In [19]:
car=car[car['Price']!="Ask For Price"] #have removed rows which contained ask for price

In [20]:
car['Price']

0        80,000
1      4,25,000
3      3,25,000
4      5,75,000
6      1,75,000
         ...
886    3,00,000
888    2,60,000
889    3,90,000
890    1,80,000
891    1,60,000
Name: Price, Length: 819, dtype: object

In [21]:
car['Price']=car['Price'].str.replace(',','').astype(int)

In [22]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [23]:
car['kms_driven']

0        45,000 kms
1            40 kms
3        28,000 kms
4        36,000 kms
6        41,000 kms
           ...
886    1,32,000 kms
888      27,000 kms
889      40,000 kms
890          Petrol
891          Petrol
Name: kms_driven, Length: 819, dtype: object

In [24]:
car['kms_driven']=car['kms_driven'].str.split(' ').str.get(0) #keeping first element and splitting kms

In [25]:
car['kms_driven']=car['kms_driven'].str.replace(',','')

In [26]:
car[car['kms_driven'].isna()]

Empty DataFrame
Columns: [name, company, year, Price, kms_driven, fuel_type]
Index: []

In [27]:
car=car[~car['kms_driven'].isna()] #saving non nan values in car

In [28]:
car=car[car['kms_driven'].str.isnumeric()]

In [29]:
car['kms_driven']

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 817, dtype: object

In [30]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.3+ KB

In [31]:
car['kms_driven']=car['kms_driven'].astype(int)

In [32]:
car.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [33]:
car=car[~car['fuel_type'].isna()] #excluding nan row

In [34]:
car['name']

0        Hyundai Santro Xing XO eRLX Euro III
1                     Mahindra Jeep CL550 MDI
3      Hyundai Grand i10 Magna 1.2 Kappa VTVT
4            Ford EcoSport Titanium 1.5L TDCi
6                                   Ford Figo
                        ...
883                Maruti Suzuki Ritz VXI ABS
885                 Tata Indica V2 DLE BS III
886                      Toyota Corolla Altis
888                       Tata Zest XM Diesel
889                        Mahindra Quanto C8
Name: name, Length: 816, dtype: object

In [35]:
car['name']=car['name'].str.split(' ').str.slice(0,3).str.join(' ')  #keeping first 3 letters as name

#showing result

In [36]:
car

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
3         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
4    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
6                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
883      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
885          Tata Indica V2      Tata  2009  110000       30000    Diesel
886    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
888            Tata Zest XM      Tata  2018  260000       27000    Diesel
889      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [37]:
car=car.reset_index(drop=True) #bring back indexes

In [38]:
car.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [39]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 28.8+ KB

In [40]:
car=car[car['Price']>70000]

In [41]:
car.to_csv('cleaned car project.csv')

In [42]:
#Model

In [43]:
X=car.drop(columns='Price')
y=car['Price']

In [44]:
X

                       name   company  year  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006          40    Diesel
2         Hyundai Grand i10   Hyundai  2014       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014       36000    Diesel
4                 Ford Figo      Ford  2012       41000    Diesel
..                      ...       ...   ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011       50000    Petrol
812          Tata Indica V2      Tata  2009       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009      132000    Petrol
814            Tata Zest XM      Tata  2018       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013       40000    Diesel

[777 rows x 5 columns]

In [45]:
y

0       80000
1      425000
2      325000
3      575000
4      175000
        ...
811    270000
812    110000
813    300000
814    260000
815    390000
Name: Price, Length: 777, dtype: int32

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

In [47]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score  #to measure regression problems(r2_score)
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [48]:
ohe= OneHotEncoder()
ohe.fit(X[['name','company','year','kms_driven','fuel_type']]) #fitted one hot encoder, change xtrain nd xtest

OneHotEncoder()

In [49]:
ohe.categories_

[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
        'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
        'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
        'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat Diesel',
        'Chevrolet Beat LS', 'Chevrolet Beat LT', 'Chevrolet Beat PS',
        'Chevrolet Cruze LTZ', 'Chevrolet Enjoy', 'Chevrolet Enjoy 1.4',
        'Chevrolet Sail 1.2', 'Chevrolet Sail UVA', 'Chevrolet Spark',
        'Chevrolet Spark 1.0', 'Chevrolet Spark LS', 'Chevrolet Spark LT',
        'Chevrolet Tavera LS', 'Chevrolet Tavera Neo', 'Datsun GO T',
        'Datsun Go Plus', 'Datsun Redi GO', 'Fiat Linea Emotion',
        'Fiat Petra ELX', 'Fiat Punto Emotion', 'Force Motors Force',
        'Force Motors One', 'Ford EcoSport', 'Ford EcoSport Ambiente',
        'Ford EcoSport Titanium', 'Ford EcoSport Trend',
        'Ford Endeavor 4x4', 'Ford Fiesta', 'Ford Fiesta SXi', 'Ford Figo',
        'Ford Figo Diesel', 'Ford Figo Duratorq', 'Ford Figo Petrol',
        'Ford Fusion 1.4', 'Ford Ikon 1.3', 'Hindustan Motors Ambassador',
        'Honda Accord', 'Honda Amaze', 'Honda Amaze 1.2',
        'Honda Amaze 1.5', 'Honda Brio', 'Honda Brio V', 'Honda Brio VX',
        'Honda City', 'Honda City 1.5', 'Honda City SV', 'Honda City VX',
        'Honda City ZX', 'Honda Jazz S', 'Honda Jazz VX', 'Honda Mobilio',
        'Honda Mobilio S', 'Honda WR V', 'Hyundai Accent',
        'Hyundai Accent Executive', 'Hyundai Accent GLE',
        'Hyundai Accent GLX', 'Hyundai Creta', 'Hyundai Creta 1.6',
        'Hyundai Elantra 1.8', 'Hyundai Elantra SX', 'Hyundai Elite i20',
        'Hyundai Eon', 'Hyundai Eon D', 'Hyundai Eon Era',
        'Hyundai Eon Magna', 'Hyundai Eon Sportz', 'Hyundai Fluidic Verna',
        'Hyundai Getz', 'Hyundai Getz GLE', 'Hyundai Getz Prime',
        'Hyundai Grand i10', 'Hyundai Santro AE', 'Hyundai Santro Xing',
        'Hyundai Sonata Transform', 'Hyundai Verna', 'Hyundai Verna 1.4',
        'Hyundai Verna 1.6', 'Hyundai Verna Fluidic',
        'Hyundai Verna Transform', 'Hyundai Verna VGT',
        'Hyundai Xcent Base', 'Hyundai Xcent SX', 'Hyundai i10',
        'Hyundai i10 Era', 'Hyundai i10 Magna', 'Hyundai i10 Sportz',
        'Hyundai i20', 'Hyundai i20 Active', 'Hyundai i20 Asta',
        'Hyundai i20 Magna', 'Hyundai i20 Select', 'Hyundai i20 Sportz',
        'Jaguar XE XE', 'Jaguar XF 2.2', 'Jeep Wrangler Unlimited',
        'Land Rover Freelander', 'Mahindra Bolero DI',
        'Mahindra Bolero Power', 'Mahindra Bolero SLE',
        'Mahindra Jeep CL550', 'Mahindra Jeep MM', 'Mahindra KUV100',
        'Mahindra KUV100 K8', 'Mahindra Logan', 'Mahindra Logan Diesel',
        'Mahindra Quanto C4', 'Mahindra Quanto C8', 'Mahindra Scorpio',
        'Mahindra Scorpio 2.6', 'Mahindra Scorpio LX',
        'Mahindra Scorpio S10', 'Mahindra Scorpio S4',
        'Mahindra Scorpio SLE', 'Mahindra Scorpio SLX',
        'Mahindra Scorpio VLX', 'Mahindra Scorpio Vlx',
        'Mahindra Scorpio W', 'Mahindra TUV300 T4', 'Mahindra TUV300 T8',
        'Mahindra Thar CRDe', 'Mahindra XUV500', 'Mahindra XUV500 W10',
        'Mahindra XUV500 W6', 'Mahindra XUV500 W8', 'Mahindra Xylo D2',
        'Mahindra Xylo E4', 'Mahindra Xylo E8', 'Maruti Suzuki A',
        'Maruti Suzuki Alto', 'Maruti Suzuki Baleno',
        'Maruti Suzuki Celerio', 'Maruti Suzuki Ciaz',
        'Maruti Suzuki Dzire', 'Maruti Suzuki Eeco',
        'Maruti Suzuki Ertiga', 'Maruti Suzuki Esteem',
        'Maruti Suzuki Estilo', 'Maruti Suzuki Omni', 'Maruti Suzuki Ritz',
        'Maruti Suzuki S', 'Maruti Suzuki SX4', 'Maruti Suzuki Stingray',
        'Maruti Suzuki Swift', 'Maruti Suzuki Versa',
        'Maruti Suzuki Vitara', 'Maruti Suzuki Wagon', 'Maruti Suzuki Zen',
        'Mercedes Benz A', 'Mercedes Benz B', 'Mercedes Benz C',
        'Mercedes Benz GLA', 'Mini Cooper S', 'Mitsubishi Lancer 1.8',
        'Mitsubishi Pajero Sport', 'Nissan Micra XL', 'Nissan Micra XV',
        'Nissan Sunny', 'Nissan Sunny XL', 'Nissan Terrano XL',
        'Nissan X Trail', 'Renault Duster', 'Renault Duster 110',
        'Renault Duster 110PS', 'Renault Duster 85', 'Renault Duster 85PS',
        'Renault Duster RxL', 'Renault Kwid', 'Renault Kwid 1.0',
        'Renault Kwid RXT', 'Renault Lodgy 85', 'Renault Scala RxL',
        'Skoda Fabia', 'Skoda Fabia 1.2L', 'Skoda Fabia Classic',
        'Skoda Laura', 'Skoda Octavia Classic', 'Skoda Rapid Elegance',
        'Skoda Superb 1.8', 'Skoda Yeti Ambition', 'Tata Aria Pleasure',
        'Tata Bolt XM', 'Tata Indica', 'Tata Indica V2', 'Tata Indica eV2',
        'Tata Indigo CS', 'Tata Indigo LS', 'Tata Indigo LX',
        'Tata Indigo Marina', 'Tata Indigo eCS', 'Tata Manza',
        'Tata Manza Aqua', 'Tata Manza Aura', 'Tata Manza ELAN',
        'Tata Sumo Gold', 'Tata Sumo Grande', 'Tata Sumo Victa',
        'Tata Tiago Revotorq', 'Tata Tiago Revotron',
        'Tata Tigor Revotron', 'Tata Venture EX', 'Tata Vista Quadrajet',
        'Tata Zest Quadrajet', 'Tata Zest XE', 'Tata Zest XM',
        'Toyota Corolla', 'Toyota Corolla Altis', 'Toyota Corolla H2',
        'Toyota Etios', 'Toyota Etios G', 'Toyota Etios GD',
        'Toyota Etios Liva', 'Toyota Fortuner', 'Toyota Fortuner 3.0',
        'Toyota Innova 2.0', 'Toyota Innova 2.5', 'Toyota Qualis',
        'Volkswagen Jetta Comfortline', 'Volkswagen Jetta Highline',
        'Volkswagen Passat Diesel', 'Volkswagen Polo',
        'Volkswagen Polo Comfortline', 'Volkswagen Polo Highline',
        'Volkswagen Polo Highline1.2L', 'Volkswagen Polo Trendline',
        'Volkswagen Vento Comfortline', 'Volkswagen Vento Highline',
        'Volkswagen Vento Konekt', 'Volvo S80 Summum'], dtype=object),
 array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
        'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
        'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
        'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
       dtype=object),
 array([1995, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
        2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019]),
 array([     0,     40,     60,     65,     73,    100,    122,    300,
           383,    588,   1000,   1500,   1600,   1625,   1800,   2000,
          2100,   2110,   2137,   2450,   2500,   2550,   2800,   2875,
          3000,   3200,   3350,   3500,   3528,   3600,   4000,   4500,
          5000,   5600,   6000,   6020,   6200,   6821,   7000,   7400,
          7500,   7800,   8000,   8500,   9000,   9300,   9400,   9800,
         10000,  10544,  10750,  11000,  11400,  11500,  11523,  12000,
         12500,  12516,  13000,  13349,  13500,  13900,  14000,  15000,
         15141,  15487,  15975,  16000,  16934,  18000,  18500,  19000,
         19336,  20000,  21000,  22000,  22134,  23000,  23452,  24330,
         24530,  24652,  24695,  24800,  25000,  25500,  26500,  27000,
         28000,  28400,  28600,  29000,  29500,  29685,  30000,  30201,
         30600,  30874,  31000,  32000,  32700,  33000,  33333,  33600,
         34000,  34580,  35000,  35500,  35522,  35550,  36000,  36200,
         36469,  37000,  37200,  37458,  37518,  38000,  38200,  38500,
         38600,  39000,  39522,  39700,  40000,  41000,  41800,  42000,
         42590,  43000,  43200,  43222,  44000,  45000,  45863,  45872,
         45933,  46000,  47000,  47900,  48000,  48006,  48247,  48508,
         48660,  49000,  49800,  50000,  51000,  52000,  52500,  52800,
         53000,  54000,  54500,  54870,  55000,  55700,  55800,  56000,
         56400,  57000,  57923,  58000,  58559,  59000,  59466,  59910,
         60000,  60105,  60123,  60500,  62000,  62500,  63000,  64000,
         65000,  65422,  65480,  66000,  67000,  68000,  68485,  69900,
         70000,  71200,  72000,  72160,  73000,  74000,  75000,  76000,
         77000,  80000,  80200,  82000,  85000,  85455,  85960,  87000,
         90000,  90001,  95000,  95500,  97000,  97200,  99000, 100000,
        100200, 100800, 102563, 103553, 104000, 111111, 116000, 117000,
        120000, 129000, 130000, 131000, 132000, 133000, 140000, 146000,
        147000, 150000, 160000, 166000, 170000, 175400, 175430, 195000,
        200000, 400000]),
 array(['Diesel', 'LPG', 'Petrol'], dtype=object)]

In [50]:
column_trans= make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','year','kms_driven','fuel_type']),remainder='passthrough')
#column transformer will put onehotencoder on column specified there('name','company','fuel_type')
#unwanted columns passes through

In [51]:
lr=LinearRegression()

In [52]:
pipe=make_pipeline(column_trans,lr) 
#sent linear regression nd column transformer in pipeline
#the input data given->column_trans(one hot encoder->columns transformed)->transformed nd prev columns given to lr

In [53]:
X_train

                   name    company  year  kms_driven fuel_type
651    Volvo S80 Summum      Volvo  2015       42000    Diesel
728      Tata Indica V2       Tata  2012       64000    Diesel
56        Honda City ZX      Honda  2017       15000    Diesel
458  Maruti Suzuki Eeco     Maruti  2013       70000       LPG
160   Chevrolet Beat LS  Chevrolet  2011       45000    Diesel
..                  ...        ...   ...         ...       ...
233          Honda City      Honda  2012       45000    Petrol
27   Mahindra Bolero DI   Mahindra  2017       23452    Diesel
231     Honda Amaze 1.2      Honda  2014       33000    Petrol
339      Datsun Redi GO     Datsun  2017       22000    Petrol
10    Hyundai Elite i20    Hyundai  2014       32000    Petrol

[621 rows x 5 columns]

In [54]:
#if some categories on xtest which are not on xtrain , this will show error...

In [55]:
#we passed all categories to onehotencoder so that it could know about all categories

In [56]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
        90000,  90001,  95000,  95500,  97000,  97200,  99000, 100000,
       100200, 100800, 102563, 103553, 104000, 111111, 116000, 117000,
       120000, 129000, 130000, 131000, 132000, 133000, 140000, 146000,
       147000, 150000, 160000, 166000, 170000, 175400, 175430, 195000,
       200000, 400000]),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company', 'year',
                                                   'kms_driven',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [57]:
#no onehotencoder on xtrain columns but can send xtrain nd ytrain directly here
#pipeline will apply columntrans(tranformation)->linear regression
#one end of pipeline(raw data)-> predictions(other end)
#after training we dump this pipe nd will directly use itb on website
#pipeline has everything (column transformer nd linear regression)
#on website dont hv to do encoding transforming nd prediction(applying to lr)..

In [58]:
y_pred=pipe.predict(X_test)

In [59]:
y_pred

array([2.11053340e+05, 2.33725515e+05, 5.81273210e+05, 4.76793174e+04,
       8.54988790e+05, 2.49995448e+05, 3.72202407e+05, 6.17820813e+05,
       2.52744667e+05, 5.41188221e+05, 1.89111048e+06, 2.01209675e+05,
       3.32846068e+05, 1.55505117e+05, 3.18203333e+05, 1.54575022e+06,
       2.34031221e+05, 8.14332033e+05, 3.99001656e+05, 1.69112843e+05,
       2.32137902e+05, 4.51028127e+05, 5.88666153e+05, 1.71728368e+05,
       2.43376580e+05, 3.15000499e+05, 6.50776074e+05, 3.19996616e+05,
       5.02473323e+05, 1.22193060e+05, 1.22193060e+05, 9.59736730e+04,
       1.47700954e+05, 6.89997866e+05, 3.32686758e+05, 3.47034127e+05,
       4.99654717e+05, 5.42796663e+05, 3.36048437e+05, 1.82427708e+05,
       3.80232345e+05, 2.97814428e+05, 2.55462283e+05, 5.00998915e+05,
       2.86810156e+03, 4.54239872e+05, 1.53523332e+05, 3.21908318e+04,
       1.16586271e+05, 4.04199271e+05, 4.42117523e+05, 1.47500613e+06,
       5.02542751e+05, 8.54988790e+05, 3.85002239e+05, 1.34190685e+06,
       6.01346111e+05, 1.46517641e+05, 3.13166185e+05, 7.65033538e+05,
       5.80852495e+05, 3.01494235e+05, 8.39254909e+06, 1.35713693e+06,
       1.03162834e+05, 3.45394563e+05, 2.08120487e+05, 4.36322699e+05,
       1.76153721e+05, 3.23931099e+05, 2.90408314e+05, 2.23122234e+05,
       6.99007501e+05, 4.21932244e+05, 5.02530309e+05, 1.22193060e+05,
       3.39382128e+05, 2.52477753e+05, 1.86214134e+04, 1.61017717e+05,
       3.61223214e+05, 4.22925811e+05, 3.50078878e+05, 8.54988790e+05,
       2.51528537e+05, 2.79999754e+05, 3.55460503e+05, 5.79997274e+05,
       5.78767706e+05, 7.55065113e+05, 1.09877897e+06, 5.09436372e+05,
       1.12499794e+05, 3.03266599e+05, 6.34768252e+05, 2.16545210e+05,
       1.38720897e+05, 3.85992704e+05, 2.19456390e+05, 3.78732019e+05,
       5.15601334e+05, 3.56921330e+05, 5.32820925e+04, 2.55576285e+05,
       4.88511161e+05, 4.83754701e+05, 3.57260347e+05, 1.94054617e+05,
       1.60696132e+06, 1.10723340e+05, 1.38720897e+05, 3.57525457e+05,
       3.31752587e+05, 1.03162834e+05, 7.55065113e+05, 4.28983290e+05,
       3.47609248e+05, 7.54937146e+05, 3.34176483e+05, 4.77753894e+05,
       1.88104919e+05, 3.53381719e+05, 1.08622223e+05, 4.74112537e+05,
       4.19806223e+05, 5.52023791e+05, 3.52404046e+05, 3.71035856e+05,
       1.22567984e+06, 1.46405322e+06, 3.94230845e+05, 4.48407244e+05,
       1.95162919e+05, 5.61979788e+05, 2.11326130e+05, 4.62516196e+05,
       3.32586865e+05, 2.30001571e+05, 3.01486133e+05, 2.33045356e+05,
       8.14332033e+05, 4.65526971e+05, 2.75001609e+05, 6.01269634e+05,
       3.73707618e+05, 5.12903272e+05, 2.75799837e+05, 4.68476409e+05,
       4.02553553e+05, 3.19996616e+05, 2.31681306e+05, 2.90962285e+05,
       1.59502474e+05, 2.54355180e+05, 1.23611069e+05, 5.66880280e+05])

In [60]:
r2_score(y_test,y_pred)  #not that good

-2.066460901024848

In [61]:
scores=[]
for i in range(1000):
    X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=i)
    lr=LinearRegression()
    pipe=make_pipeline(column_trans,lr)
    pipe.fit(X_train,y_train)
    y_pred=pipe.predict(X_test)
    print(r2_score(y_test,y_pred),i)
    scores.append(r2_score(y_test,y_pred))

0.7286557433765755 0
-2.4071544836910057 1
0.5261308448806216 2
-1.304615841977676 3
-2.868748069492808 4
0.15036330706353018 5
0.7225585494748841 6
-1.3581480947345228 7
-1.6122114805673733 8
-2.5984402808511136 9
0.24667524567589216 10
-2.434043471297463 11
-2.9970769897747807 12
0.6791828161180302 13
-4.0658718747466835 14
-2.3460584888700886 15
0.12051339206682132 16
-1.4451722514511407 17
-1.9622760083005315 18
0.09802110413098519 19
0.650357575074503 20
-2.2408881327023273 21
0.6485598561328031 22
0.6173603193622772 23
0.537288030538564 24
-2.3411212013191864 25
0.5982648377345867 26
0.8192974970269802 27
0.1706084313309344 28
0.20205372032996205 29
0.74003697315404 30
0.6061280625419878 31
-2.1564834168284697 32
-1.8827645653871214 33
0.6733960615250232 34
0.5672013221686788 35
-6.5972339074785475 36
-2.1731376060639804 37
0.6890003129905149 38
0.23083125681155447 39
0.19228657385431458 40
0.6409411835338973 41
0.6548071622402685 42
0.17747696321626116 43
-2.660380730017152 44
0.20719725476763895 45
0.6790668722991955 46
-1.3896028539671752 47
-1.6066523492633502 48
-1.0153369647065627 49
0.5421762142588957 50
-5.885656501594404 51
-1.5990409134843366 52
0.19036051615791638 53
0.6673599498085777 54
-2.7070372496358748 55
-2.3363227130214543 56
-8.748306706261227 57
0.7123949593630066 58
-2.925473527727649 59
0.6503756005409393 60
0.5519115248509618 61
0.19439636051874132 62
0.6975821623908822 63
0.20816522994746456 64
-1.3268668211229837 65
-1.0942679912421096 66
-3.2617558349716145 67
0.6242657231831475 68
0.20699308987582 69
0.7389502084277229 70
0.5635838219252779 71
0.8077542941062417 72
0.7827057957371408 73
0.658343696965014 74
0.2207147974684388 75
-1.933189340638613 76
0.5612556077154507 77
-1.4716799710600599 78
0.20200489802632038 79
0.7120300733285259 80
0.3902498656378922 81
0.6824917853264638 82
0.2236609322098666 83
0.2123493173191362 84
0.7896719619557719 85
0.6471359970609856 86
-3.193931046216843 87
-2.4500433402694055 88
0.6018075047098842 89
0.7226666645639682 90
0.7768661866345319 91
0.6904273882243579 92
0.15888242697526322 93
0.5948324324051066 94
-1.5958436282209512 95
0.22145849611796686 96
0.6233054278285686 97
0.5870071301694941 98
0.572874883432792 99
-1.7241439031581458 100
0.5414802325260107 101
0.21291347142731787 102
0.6901670233558653 103
0.7812463684454445 104
0.7063416182224991 105
-3.104454459025127 106
0.6836166171157984 107
-2.2077285725010847 108
-1.5012891101137487 109
0.17495784421506466 110
0.8134725053257514 111
-1.6981220364929208 112
0.671014628284422 113
0.6288037332014944 114
0.5749277811366222 115
0.676685175565225 116
-1.68426102286855 117
0.6498568931502635 118
0.6606480806411503 119
-1.2834296871523745 120
0.6954551170856804 121
0.2409027108129118 122
-1.8879990129724011 123
0.6932552535180576 124
0.16824795772430012 125
0.22911866123447489 126
0.6531440589417374 127
0.7454484555089202 128
0.155354868441131 129
-2.204663269899639 130
0.7017352528751606 131
0.6640031411259235 132
0.1806893966777705 133
0.23565893647787461 134
0.6889537623528743 135
-2.907439545335614 136
0.7756069536030785 137
-1.0393304569451804 138
0.1920141522614599 139
-4.195026730965997 140
0.24485348991566158 141
0.7111161971237792 142
0.20724908021165334 143
0.6753587129372091 144
-8.318767946621016 145
0.2021730406362383 146
0.19834391825210063 147
0.6568637365508974 148
-4.270359752512402 149
0.7095229055819342 150
-2.237785358135186 151
0.5069878118087756 152
0.18407501380163904 153
-2.6553947661510926 154
-2.100698416701082 155
0.6572263290028326 156
0.47913703111754824 157
0.670950685838256 158
-1.9902805548286917 159
-3.973740791708572 160
-4.457017759844798 161
0.19949189011228496 162
0.617931363332122 163
0.48439367612602735 164
-1.678728215032828 165
0.5344103005318032 166
-2.302447098656133 167
0.6223096093644536 168
0.6186342953746209 169
0.19267593840489405 170
0.2398754310546901 171
-2.5293529347900336 172
-3.756503707762117 173
0.22133489185972832 174
0.1471199201000194 175
0.16998363292487362 176
0.7389267754359365 177
0.7797061131041285 178
-3.8634319894142326 179
0.3791084564050602 180
0.6342636817290765 181
0.19647308957207077 182
0.1649649492683969 183
-1.6687230665343535 184
0.7367955701003639 185
0.21524160733559494 186
-2.0475843172164043 187
0.16327137839064843 188
0.23551325611740803 189
-2.3092140464319053 190
0.8041081107646285 191
-1.9751087590525769 192
0.5815570830657666 193
0.696530365469733 194
0.2371699226495413 195
0.7673295062374306 196
0.23466728657159852 197
0.16669624358269552 198
-2.3372795621425864 199
0.6461322033375947 200
-2.786024507229254 201
0.19964208805759176 202
0.5844509417563821 203
0.7715179916065852 204
0.7900998776259787 205
0.5366548494201053 206
0.7774805415899663 207
0.2035930454150624 208
0.17361005648332373 209
-2.459406801364164 210
-3.0906582145465054 211
0.7702578031581208 212
0.5342561151529377 213
0.7606808171693598 214
-1.961952236878047 215
0.1796069304455491 216
-1.8595277989097219 217
0.16013198213525814 218
0.5069281689054081 219
0.6728550940354495 220
0.6233129264503712 221
0.6823554798545086 222
0.1478342496937075 223
0.6052586700778908 224
-2.194773128571806 225
0.6196563619993156 226
-2.3303041022368878 227
0.6943555347329837 228
0.5040409110480838 229
-1.9624177512318295 230
-3.640726478225914 231
-4.728052231145955 232
0.7019014960019709 233
0.6196171318302318 234
-1.4329586089874855 235
0.5617723798451849 236
0.20460892842908818 237
0.6817722253704335 238
0.2405382645605858 239
0.6456557780307559 240
0.7389447565343107 241
0.5003489925415356 242
-1.6550076839444525 243
-5.1886214299968 244
0.18538616451469703 245
0.641339861561636 246
0.5464800516401227 247
0.13198638999902124 248
-1.0887175508401064 249
0.7414524234044917 250
0.2187081133961042 251
0.805606856047828 252
-1.4026915002105351 253
0.1691246017167658 254
-2.0321995438980913 255
0.1996254055584602 256
0.7839547728885294 257
-4.713798571265101 258
-1.8782280316685558 259
0.5581608395886848 260
0.6183116667311979 261
0.2344061906312921 262
-1.6683101050363613 263
-1.8977161454114384 264
0.2540940057162461 265
-7.8929411765493604 266
-2.761913132667471 267
0.7354262543132641 268
0.19030981848067452 269
0.17939974600487718 270
0.6590192467017331 271
0.6035314260654973 272
0.19246483479252985 273
0.7397166600781035 274
0.23400355175191656 275
-1.553211336567728 276
0.6498216866361213 277
-1.9199092866723517 278
-1.9267886515445718 279
0.17092611189612317 280
0.6266981553471594 281
0.6658345521276877 282
0.6949977037908968 283
0.6711111677605255 284
0.6015194086439628 285
0.7266120958090646 286
-2.2013345183691704 287
0.6210558512781811 288
0.7283454082927517 289
-2.284181149384184 290
0.22610931481818153 291
-2.4593451592701143 292
0.7589627402894378 293
0.7562403018831471 294
0.17605471620723334 295
0.719513274754032 296
0.22546593790331182 297
0.48611879224776267 298
-1.4700611279856255 299
-2.4050181201201366 300
-1.14962491666937 301
0.7262558114184219 302
0.17970974529771 303
0.716824173205233 304
0.25660541820443217 305
0.20682827487612876 306
0.7557329944662068 307
0.7083310654393511 308
0.6977722190213413 309
0.7533564923125939 310
0.7322506440676946 311
0.631562480908294 312
-1.5598603564289202 313
-0.9067982433838122 314
0.6693835436691697 315
0.6924289908793553 316
0.21000350940505286 317
0.6967878974283273 318
-1.8863847174111816 319
0.1553843711756645 320
0.6446568165971275 321
-2.8412034999650504 322
0.2172928469072022 323
0.2278802787227946 324
0.6336651969126228 325
0.6726465004100415 326
0.788897452663738 327
-7.089664939059896 328
0.6004939520193968 329
0.21041456108987222 330
-1.7815099611708378 331
0.17834191154664059 332
0.7999356425891382 333
0.6377967104971946 334
0.5793972183085726 335
0.7234261686995009 336
0.7401441625029777 337
0.18000066311414809 338
0.7074414634382595 339
0.5819307052959733 340
-1.3313655017499917 341
0.1908484197137651 342
0.6608811354676667 343
0.22238288739245238 344
0.20045094393857754 345
0.6562151412988086 346
-2.626113582607704 347
0.6495340180273879 348
0.16533796540618761 349
0.1997786481013495 350
0.7065115896740521 351
-2.2103239575753664 352
0.6726085792325244 353
0.5862456185693747 354
0.691344678262398 355
0.7264717412912898 356
0.2236991145241649 357
-4.022181869338844 358
0.6899904410483073 359
0.7274998561583275 360
0.5755340645967606 361
0.650623305004292 362
-2.9227298092808844 363
0.6586584568136291 364
0.7421201462015221 365
0.6463390933848054 366
0.3973352104108394 367
0.7994514186669259 368
0.7134091124960151 369
-8.180193684474586 370
0.1642036151584224 371
0.24050624131254905 372
-3.3594333172214146 373
0.7419065558173933 374
0.7619266110469398 375
0.6938685212893534 376
0.16987207660878623 377
0.5303677316100766 378
0.6639545830681182 379
0.6889749338103983 380
0.2385211523084373 381
-2.8747914675597155 382
0.23105071882423212 383
0.6789257150964536 384
-2.209565445572873 385
-1.5801807224446591 386
0.11757371605326117 387
0.7195678201656632 388
0.19090485861711548 389
0.8483578578088566 390
0.1792128884049835 391
-3.083695366720197 392
0.44597621774065066 393
0.19843583012255106 394
0.1531616340310451 395
0.8596394085501301 396
0.7395339901927044 397
0.60511683808785 398
0.5456650771163618 399
0.766116800491703 400
-3.190937618672228 401
0.8134312401581468 402
0.5399110666415301 403
-2.5801114310797795 404
0.5233556363229273 405
0.7478995916495279 406
0.6785609006466027 407
0.6539977007459705 408
0.21413299478327597 409
0.20419070331609934 410
0.7224174313020091 411
0.574727699980961 412
0.7051606259933256 413
0.6765334997925825 414
0.621112987878351 415
0.7352135424101816 416
0.7262166486189005 417
0.69280272757605 418
0.598055268714908 419
-5.5868784695694105 420
0.23161680395598905 421
0.15223726336214616 422
0.2645201530425004 423
0.22122320402508444 424
0.5474836876966098 425
0.6564118723472248 426
0.18868207116818336 427
-1.7880227914716418 428
-4.423726911671219 429
0.21637166887322812 430
0.7626875875529179 431
0.5986703144776544 432
-3.7177920061246184 433
0.15633594164241604 434
-1.6757070481312808 435
0.8115668584744214 436
-2.0881568196692384 437
0.5714914805959979 438
0.5008923889628666 439
-2.1068734883243434 440
-1.4886011160887356 441
0.6906326447986146 442
0.6556335411725932 443
0.6729362753266321 444
0.6021317025033901 445
0.6546469412779246 446
0.4939558609197694 447
-3.9029248154362683 448
0.6632332341617352 449
0.7893162612912953 450
0.2119094546586906 451
0.19285459391760063 452
-2.184064246207999 453
0.6474424967179084 454
-1.6714542822115939 455
0.6254952045276149 456
0.7077245217651755 457
-2.856953822494663 458
-1.528159089360515 459
0.7138875913630667 460
-1.4062004227334413 461
0.1815565209022466 462
-7.303821713817644 463
-5.141890080102745 464
0.2577828781886905 465
0.664928906668026 466
0.6432085642325978 467
0.7954400210283541 468
0.16784114407366324 469
0.4093533613466537 470
0.5102240303162555 471
0.4836724121667255 472
0.6143732701388893 473
0.5971535522159725 474
-2.374469834040672 475
0.6647657021591431 476
0.7507371520978114 477
0.6206495441193896 478
0.7054125907839686 479
0.6849444653470929 480
0.1949440817543383 481
0.8097960897427113 482
0.7851873691333101 483
0.675666510641876 484
-2.0633586259774805 485
-1.3366747579905565 486
0.7886522431039145 487
0.1841371650212147 488
0.1350818961644361 489
0.7345403101894272 490
0.6307088141472371 491
0.6645807341417822 492
-3.0106393315654163 493
0.7834932829134913 494
0.1250788339108837 495
0.7015494129718244 496
-1.6774844633460266 497
0.6027193996338652 498
0.5628638757052404 499
0.6783734889336828 500
0.2752551127835855 501
0.5288271834161733 502
0.6893615980293579 503
0.45745908005187474 504
0.20954998872479869 505
-6.699613313188229 506
0.6548195979928142 507
0.6288052146460392 508
0.7417758495066129 509
0.1999129583850463 510
0.7087851219401918 511
0.6927422963374991 512
0.6842538155871825 513
0.7385518893182574 514
-5.428678742246505 515
0.5328409417313522 516
0.19013327012360293 517
-1.8159743144150626 518
-1.4643427677693945 519
0.6583332381348557 520
0.15853486919512627 521
0.6647262039552109 522
0.18241202920274402 523
0.23854401512901935 524
0.7729898881400563 525
-3.5537045329295935 526
0.20123766922053088 527
-2.6904433287722016 528
0.7061384762466689 529
0.6258340674212304 530
0.17685269465688103 531
0.6268355217923072 532
0.21278388971070394 533
0.6169766311746151 534
0.6480126611229604 535
-4.123981606959224 536
0.7212025894160516 537
0.15476910908376496 538
0.7113356702964172 539
-1.2435656902490297 540
-3.2882858311459158 541
0.6884161658496915 542
0.446490950489312 543
0.7397294481044698 544
-3.856305147520792 545
0.1978697594540687 546
0.6910254237821318 547
0.626858271406646 548
-2.96121449679095 549
0.21377684939235408 550
0.7173696451672482 551
-2.5716067485285046 552
-1.652724247737979 553
0.12663929643131 554
0.7774807187936553 555
0.6235855972048632 556
-3.0237391642871607 557
0.6364014863040872 558
0.18722344277642866 559
-1.901364635657607 560
0.19179603170831572 561
-2.53967989585208 562
0.7357570225542374 563
-7.3478219124647275 564
0.6634576148519356 565
0.6985860328728477 566
0.6406996801376278 567
0.1081205662293413 568
0.22471242640281153 569
0.5899914704987522 570
0.656030598537867 571
0.22577039986909686 572
-7.0373249237002895 573
0.2260035027131473 574
-3.4518325704592856 575
-1.9550587554753234 576
-1.71912125463249 577
0.20790732548994884 578
0.17211198457746602 579
0.5308450416342139 580
0.6893749715676458 581
0.19744505982967164 582
-2.350050153818981 583
-1.4295895526836082 584
0.5901180473259308 585
-2.30231403723743 586
0.2318124255034737 587
-2.5180057097415793 588
0.6545644710817539 589
-3.247390139442061 590
0.6575333108338746 591
0.5718764018289352 592
0.739403844162869 593
-1.626361653836038 594
0.7112951495746667 595
-5.725540929697495 596
0.6642908785666942 597
0.6661884188478752 598
0.7052698167627871 599
-2.2303649305013358 600
-2.7333437243712444 601
-1.3074439897189785 602
-2.4367576853951936 603
0.7109145048477752 604
0.1905929080173523 605
0.7387569212054177 606
0.6043751581737158 607
0.7208043451488937 608
0.7094731019185756 609
0.547695456128215 610
-2.5692912071754392 611
0.15077702083160816 612
-4.8519562520186925 613
-1.9176800126097233 614
0.6936596782329372 615
0.6831900816424616 616
0.6137359272664971 617
0.6975650310882814 618
0.6946761689761287 619
-2.219242539094322 620
-2.7056521775404625 621
0.5682793290548616 622
0.5665131155110137 623
-2.904142963261943 624
-2.5884191865543893 625
0.20430006376044607 626
0.22183169741697673 627
0.7569234274778888 628
-5.894389860210021 629
0.5960839323379314 630
0.5162604546688516 631
0.5603576213465862 632
-3.01048640949746 633
-1.3298166278168115 634
0.5864418309156032 635
0.7387328440662162 636
-5.406011182359944 637
0.719224575776848 638
0.23781752381948207 639
0.6395054247080354 640
0.6361807026395154 641
0.7342444285527278 642
-2.5198790243464275 643
0.5146574873583792 644
-3.88960630641676 645
-1.8464880222576805 646
-7.615546316289857 647
0.2132403196661974 648
0.8209851210042578 649
0.6833735626049762 650
0.7176417307709948 651
-2.741618022577021 652
0.5883186249891753 653
0.6579467991634407 654
0.289091351454712 655
-1.752256508840679 656
0.1946615773871737 657
0.752589445692992 658
-5.170489123980472 659
0.666508867423846 660
0.6921337139812876 661
-1.8397633962725224 662
0.7031858933053224 663
0.6299816349529577 664
0.7171926375951821 665
0.6872154566196035 666
0.5421757867607139 667
0.678419562554607 668
0.19414361247855216 669
0.17423036439065298 670
0.6878390419522544 671
0.5979384308699671 672
0.5219402095320457 673
0.6095314075328364 674
-1.6353494019100752 675
-1.7461146821752065 676
-8.155159910613772 677
-2.053203507923548 678
0.5137096754926773 679
0.5893740913853458 680
-1.7719291896968365 681
0.7167361315000966 682
0.6683667198462759 683
-2.714387027085413 684
0.5569448805192834 685
-2.349166713513898 686
0.22862911742516445 687
-2.9607124722292353 688
0.5685954477823797 689
0.6353905528355199 690
0.6551778474080834 691
0.19657141418249469 692
0.7182507397002285 693
0.19318306611963265 694
-4.009989429078413 695
-2.0856092930167605 696
0.5372638119067874 697
0.28423199622175865 698
0.7504671239553705 699
-1.2660232356293504 700
0.1921275713939118 701
-2.6689714078939035 702
0.7366064622807404 703
-1.3066965080865778 704
0.23552248333651526 705
0.22317533818934587 706
0.6432234552645877 707
-4.6048441787973795 708
0.5876336859041598 709
0.1787570129440702 710
0.19154914361961717 711
0.7663721614494965 712
0.26424821824018085 713
-2.13369610791753 714
0.24830844564157617 715
-2.214959410252712 716
0.6500963005362286 717
0.6809641073281647 718
-1.5317620865816926 719
-1.4753437679508385 720
0.8033453620504146 721
-3.6994930774760952 722
-1.8197716244993338 723
-2.692456235038086 724
-1.6173930663535896 725
-2.3310886053445397 726
0.519110899528417 727
-3.319408488290093 728
-1.8512043921907901 729
-1.6524525981586646 730
0.6562075569911048 731
-1.7986896585105283 732
-3.9909774087445706 733
0.7977768511179854 734
-2.1572605064687354 735
-1.449053925336571 736
0.6245472563830463 737
-3.162372589414451 738
0.781685982437557 739
0.1415071577874838 740
-2.706068984584584 741
0.6909827303507066 742
0.17670631720240093 743
0.23429118180385133 744
0.2441073798299206 745
0.6545340118209257 746
0.7593255693655245 747
0.5589230448035276 748
0.21161521215573287 749
0.6390759533487723 750
0.18501740580417902 751
-4.39143389565606 752
0.5629020837578635 753
0.8730793460030083 754
0.1943694725338153 755
-1.4483058238679587 756
-2.2983678041733473 757
-1.4233342969357712 758
-1.9720060972431184 759
0.7270558033035859 760
0.6728507560844785 761
0.7245979722071265 762
0.5756965159910037 763
0.5970318900499748 764
0.7205080569306762 765
0.7779775321808351 766
-4.71283302736328 767
0.6364267870209952 768
0.5434604702745535 769
0.5963056832776665 770
0.6967087007795195 771
0.5836415770450383 772
0.7334298774731197 773
0.5415022823233487 774
0.7601260252859533 775
0.5911589167399018 776
-2.656337685452683 777
0.8549897725705943 778
0.17761542840322853 779
0.7627867432111268 780
0.5353204186887216 781
0.5914245645068092 782
0.6343931366455136 783
0.5912782063153024 784
0.7066914922862093 785
0.6943467110630215 786
-2.3427391583342176 787
0.7515154878424339 788
-2.2702366922335413 789
-2.5289179375767348 790
0.4962597265432188 791
-1.3625969343387743 792
0.16007235888364424 793
0.5234932454506989 794
0.16495711405090852 795
0.18608073088711796 796
0.7617659753366951 797
0.7101865910733296 798
0.09808322534473413 799
0.5150177795864594 800
0.8313650925668735 801
-0.8129904040606206 802
0.6516455977686663 803
-1.610941693037255 804
0.16831787241263696 805
0.18830987154060064 806
0.21075543035125743 807
0.12728420933220264 808
0.6032504595748143 809
0.5903284823409023 810
0.6360367952461703 811
-2.4510901647744467 812
0.17641948737759106 813
0.684463679966641 814
0.7383710808455533 815
-1.8142736550244827 816
-2.022263481190187 817
0.5923445011637907 818
0.7273270206287505 819
0.7503010228667976 820
-1.7088583267127433 821
-2.131982996787306 822
0.6800321769336632 823
-1.6734215020874763 824
0.2335044774987376 825
0.786626018835527 826
-4.834883812589421 827
0.6394529451876804 828
0.7078653636001208 829
-1.8445361386691688 830
0.2037827252652742 831
0.5608057366749684 832
0.23197751665774324 833
0.7027257386730713 834
-3.6168221278817416 835
0.11495283891445918 836
0.5603337118600903 837
0.7824005739437147 838
0.816089002554138 839
0.762406627109068 840
-4.6999869108103995 841
0.1961484677302856 842
-1.666314654008218 843
0.18813109862748678 844
0.761128157342781 845
0.7930385642524516 846
0.4665988402465999 847
-2.555890144548142 848
0.5572611825568576 849
0.49017201058976534 850
-1.4506579973272538 851
-1.536872181252706 852
0.22706166266647787 853
-1.3244793164102915 854
0.20060593637487711 855
-3.2068617388528837 856
-2.611206109612505 857
0.8336601282877343 858
0.5947025751608646 859
-2.9027942961502506 860
-1.9297124901561435 861
0.7266782047359513 862
0.7515486444919891 863

In [62]:
np.argmax(scores)

754

In [63]:
scores[np.argmax(scores)]

0.8730793460030083

In [64]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=np.argmax(scores))
lr=LinearRegression()
pipe=make_pipeline(column_trans,lr)
pipe.fit(X_train,y_train)
y_pred=pipe.predict(X_test)
r2_score(y_test,y_pred)

0.8730793460030083

In [65]:
#above the pipeline is ready so now will drop it off

In [66]:
import pickle

In [67]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [70]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,300,'Petrol']], columns=['name','company','year','kms_driven','fuel_type']))

array([630154.14729167])

In [69]:
car.info

<bound method DataFrame.info of                        name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[777 rows x 6 columns]>

In [73]:
car['name']

0         Hyundai Santro Xing
1         Mahindra Jeep CL550
2           Hyundai Grand i10
3      Ford EcoSport Titanium
4                   Ford Figo
                ...
811        Maruti Suzuki Ritz
812            Tata Indica V2
813      Toyota Corolla Altis
814              Tata Zest XM
815        Mahindra Quanto C8
Name: name, Length: 777, dtype: object